/**========== Blog Section ==========**/

/*? Article Container ?*/

#search-result,
#business-news,
#technology-news,
#entertainment-news,
#health-news,
#sports-news,
#science-news,
#topNews {
  color: var(--blog-text-color);
  padding: 3.5rem 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

/*? Article Cards ?*/

.blog-card {
  /*! change the background color & border */
  background-color: var(--body-color);
  width: 400px;
  border: 1px solid #2d4c50;
  border-radius: 10px;
  cursor: pointer;
  padding: 1rem;
  margin: 10px;
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.blog-card:hover {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.767);
  transform: scale(1.01);
  cursor: pointer;
}

/*! Add hover for dark mode */

/* body.dark-mode .blog-card:hover {
  box-shadow: 0px 6px 8px rgb(82, 81, 81);
} */

/*? Article Cards: Image ?*/

.blog-card img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 1rem;
}

/*? Article Cards: Title (Truncated) ?*/

.blog-card h2 {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  margin-bottom: 0.7rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*? Article Cards: Description (Truncated) ?*/

.blog-card p {
  color: var(--blog-text-color);
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  padding-top: 0.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

/**========== Non-Blog Section ==========**/

/*? Display total no. of articles ?*/

#total-results {
  text-align: center;
  margin: 20px 0;
  font-size: 2.2rem;
  color: var(--blog-text-color);
  font-family: "Poppins", sans-serif;
}

/*? Blog Padding from Nav ?*/

#top-section {
  padding-top: 4.3rem;
}

/*? Display when no articles to Generate ?*/

#end-of-results {
  margin: 0;
  font-weight: 500;
  text-align: center;
  font-size: 1.2em;
  color: #555;
  margin: 20px 0;
  padding: 15px;
  background-color: var(--end-of-results);
  border: 1px solid #ddd;
  border-radius: 8px;
  display: none;
}
