* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

/*? Global css  */

.obj-width {
  max-width: 1600px;
  margin: auto;
}

@media (max-width: 768px) {
  .navbar .logo {
    font-size: 2rem;
  }

  .search-container {
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
  }

  #search-input {
    width: 150px;
  }

  .blog-card {
    width: 100%;
  }
}
