/**======= Google Font Import - Poppins & Roboto =======**/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@300;400&display=swap");

/**======= Colors =======**/
:root {
  --body-color: #edf6f9;
  --nav-color: #2d4c50;
  --text-color: #fff;
  --blog-text-color: #000;
  --side-nav: #010718;
  --search-text: #010718;
  --search-bar: #f2f2f2;
}

body.dark-mode {
  --body-color: #121212;
  --nav-color: #1e272e;
  --text-color: #ccc;
  --blog-text-color: #ccc;
  --side-nav: #242526;
  --search-text: #fff;
  --search-bar: #121212;
}

/**======= Global reset =======**/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/**======= Base Style =======**/

body {
  height: 100vh;
  background: var(--body-color);
  color: var(--blog-text-color);
}

.obj-width {
  max-width: 1600px;
  margin: auto;
}

/**======= Mobile Version =======**/

@media (max-width: 1090px) {
  nav .navbar .sidebarOpen {
    display: block !important;
  }

  .category-nav {
    position: fixed;
    height: 100%;
    width: 320px;
    left: -100%;
    top: 0;
    padding: 20px;
    display: flex;
    direction: row;
    background-color: var(--side-nav);
    z-index: 100;
    transition: all 0.4s ease;
  }

  nav.active .category-nav {
    left: 0;
  }

  nav.active .navbar .navLogo a {
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .category-nav .logo-toggle {
    display: block !important;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo-toggle .sidebarClose {
    color: var(--text-color);
    font-size: 24px;
    cursor: pointer;
  }

  .navbar .nav-links {
    flex-direction: column;
    padding-top: 30px;
  }

  .nav-links li a {
    display: block;
    margin-top: 30px;
  }

  .search-container {
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
  }

  #search-input {
    width: 150px;
  }

  .blog-card {
    width: 100%;
  }
}
